#body {
    background-color: #0d121b;
    margin: 0px;
}
 #time-display {
    font-weight: normal;
    font-family: arial;
    font-size: 64px;
    display: block;
    text-align: center;
    color: white;
    padding-top: 8px;
}
#button-container {
    text-align:center;
}
#button {
    background-color: #003d7f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
}
#button:active {
    background-color: #4CAF50; /* Green */
}